<?xml version="1.0" encoding="utf-8" ?>

<Environments>
  <Environment name="LocalDevelopment">
    <Item key="KeySvr" value="localhost"/>
    <Item key="KeyUId" value="sa"/>
    <Item key="KeyPwd" value="automata01"  encrypted="false"/>
    <!--    <Item key="KeySvr" value="tcp:aditserver.database.windows.net,1433"/>-->
    <!--    <Item key="KeyUId" value="aditServer"/>-->
    <!--    <Item key="KeyPwd" value="mercyware123++"  encrypted="false"/>-->
    <Item key="FileUploadPath" value="~/DocumentFolder/"/>
    <Item key="EmailKey" value="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" />
    <!--<Item key="EmailKey" value="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" />-->
    <Item key="PayStackKey" value="sk_test_8d8ee16467e203041eb380366571f2ea7b5264e6" />
    <Item key="PayStackCallBack" value="http://localhost:58733/Order/TransactionCompleted?OrderNumber=" />
  </Environment>
 
  <Environment name="Development">
    <Item key="KeySvr" value="OMLKONSULTSM\OMLKSQLSERVER"/>
    <Item key="KeyUId" value="sa"/>
    <Item key="KeyPwd" value="fatima07"  encrypted="false"/>
    <Item key="FileUploadPath" value="~/DocumentFolder/"/>
    <Item key="EmailKey" value="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" />
    <!--<Item key="EmailKey" value="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" />-->
    <Item key="PayStackKey" value="sk_test_8d8ee16467e203041eb380366571f2ea7b5264e6" />
    <Item key="PayStackCallBack" value="http://localhost:58733/Order/TransactionCompleted?OrderNumber=" />
  </Environment>
  <Environment name="Uat">
    <Item key="KeySvr" value="OMLKONSULTSM\OMLKSQLSERVER"/>
    <Item key="KeyUId" value="sa"/>
    <Item key="KeyPwd" value="fatima07"  encrypted="false"/>
    <Item key="FileUploadPath" value="~/DocumentFolder/"/>
    <Item key="EmailKey" value="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" />
    <!--<Item key="EmailKey" value="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" />-->
    <Item key="PayStackKey" value="sk_test_8d8ee16467e203041eb380366571f2ea7b5264e6" />
    <Item key="PayStackCallBack" value="http://localhost:58733/Order/TransactionCompleted?OrderNumber=" />
  </Environment>
  <Environment name="Production">
    <Item key="KeySvr" value="tcp:jokoyoski.database.windows.net,1433"/>
    <Item key="KeyUId" value="Makanga"/>
    <Item key="KeyPwd" value="Jokoyoski200@"  encrypted="false"/>
    <Item key="FileUploadPath" value="~/DocumentFolder/"/>
    <Item key="EmailKey" value="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" />
    <!--<Item key="EmailKey" value="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" />-->
    <Item key="PayStackKey" value="sk_test_8d8ee16467e203041eb380366571f2ea7b5264e6" />
    <Item key="PayStackCallBack" value="http://adit.azurewebsites.net/Order/TransactionCompleted?OrderNumber=" />
  </Environment>
  <Environment name="DR">
    <Item key="KeySvr" value="tcp:ypjqoqhz5p.database.windows.net,1433"/>
    <Item key="KeyUId" value="****@ypjqoqhz5p"/>
    <Item key="KeyPwd" value="********"  encrypted="false"/>
    <Item key="FileUploadPath" value="~/DocumentFolder/"/>
    <Item key="EmailKey" value="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" />
    <!--<Item key="EmailKey" value="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" />-->
    <Item key="PayStackKey" value="sk_test_8d8ee16467e203041eb380366571f2ea7b5264e6" />
    <Item key="PayStackCallBack" value="http://localhost:58733/Order/TransactionCompleted?OrderNumber=" />
  </Environment>
</Environments>

